body{

    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJeaEBuvlv36b_B6BDgqrM4-aokpMy0IRp7A&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: scroll;
}